body {
    background-color: rgb(0, 38, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#hello {
    text-align: center;
    color: white;
    font-size: 100px;
}
